body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif!important;
}
.nav-left1{
    display: none;

}
.nav-next2 img{
    object-fit: cover;
    position: absolute;
    width: 45%;
    top: 180px;
    right: 0;
}
nav{
    padding-top: 10px;
    background: #fff;
    width: 100%;
    border-bottom: 1px solid #4338ca;
    padding-bottom: 10px;
    height: 29px;
    max-width: 100%;
    display: flex;
    position:sticky;
    top: 0;
    left: 0;

    margin: 40px 60px 0 50px;
}
.nav1{
    margin-top: 6px;
}
.nav1 a{
    font-weight: 400;
    font-size: 17px;
    color: rgba(55, 48, 163, var(--tw-text-opacity));
    vertical-align: middle;
}
nav a{
    text-decoration: none;
    border: transparent;
    text-decoration: inherit;
    color: inherit;
    margin-right: 1.5rem;
    width: 2rem;
}
nav a img{
    max-width: 100%;
    height: auto;
}
#nav-next{
    overflow: hidden;
    margin: 90px auto 123px auto;
    text-align: center;
    font-size: 20px;
    display: flex;
}
.nav-next1{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
.nav-next2{
    padding: 1rem;
    width: 100%;
}
.nav-next2 h1{
    font-size: 3rem;
    font-weight: 700;
    color: black;
}
.nav-next2 h1 span{
    color: rgb(32, 17, 238);
}
.nav-next2 p{
    padding-left: 73px;
    font-size: 20px;
    width: 80%;
    font-weight: 400;
    margin-bottom: 54px
}
.nav-nextbtn a{
    font-weight: 500;
    text-align: center;
    background: rgb(32,17,230);
    color: white;
    text-decoration: none;
    padding: 16px 40px;
    border-radius: 5px;
    margin: 8px 4px;
    border-radius: 5px;
    cursor: pointer;;
}
.nav-nextbtn span a{
    background: #dbeafe;
    color: #4338CA;
}
#price{
    padding: 48px 24px;
    
}
.price1{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.price1 h1{
    font-size: 48px;
    margin: 0 0 16px;
    color: #000;
    line-height: 1;
    font-weight: 700;
}
.price1 p{
    font-size: 25px;
    margin: 0 0 24px;
    color: #6b7280;
    font-weight: 400;
}
.price1-sub{
    display: inline-block;
}
.price1-sub button{
    cursor: pointer;
    border: 1px solid grey;
    font-weight: 500;
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 5px;
    border-width: 2px;
    text-align: center;
    background-image: none;
    text-transform: none;
}
.price1-sub span button{
    background-color:transparent;
}
.price2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 80px 0px;
}
.price2-new{
    width: 20%;
    padding: 32px 20px;
    text-align: start;
    height: 100%;
    border-radius: 10px;
    border-width: 2px;
    border: 1px solid rgb(197, 169, 169);
}
.price2 div h1{
    font-size: 20px;
    margin: 0 0 8px;
    color: #000;
}
.price2 div p{
    font-size: 16px;
    margin: 0 0 8px;
    color: #6b7280;
}
.price2 div p span{
    font-size: 36px;
    margin: 0 0 8px;
    color: #000;
    font-weight: 800;
}
.price2 div button{
    height: 46px;
    font-size: 16px;
    padding: 8px 16px;
    margin: 0 0 16px;
    color: #fff;
    background-color: #4338CA;
    background-image: none;
    text-transform: none;
    font-weight: 700;
    border-radius: 10px;
    border: transparent;
    width: 90%;
}
.price2 div  span p{
    font-size: 16px;
    margin: 16px 0 8px;
    color: #6b7280;
}
.relative{
    width: 80%;
    padding: 10px 19px;
}
.price2 div div p{
    font-size: 16px;
    margin: 0 0 4px 32px;
}
@media only screen and (max-width:768px){
    nav{
        z-index: 0;
        position: absolute;
        border: none;
    }
    .nav-left1{
        display:flex;
        padding-left: 16px
    }

    #side-nav{
        position: fixed;
        top: 0;
        right: -250px;
        background:#fff ;
        z-index: 3;
        height: 100vh;
        width: 250px;
        transition: 0.5s;

    }
    #side-nav ul li{
        list-style: none;
        margin: 50px 20px;
    }
    #side-nav ul li a{
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }
    #menu{
        right: -233px;
    background: #4338ca;
    width: 20px;
    margin-top: -19px;
    position: absolute;
    top: -4px;
    border-radius: 3px;
    border: 2px solid #4338ca;
        
    }
    #menu img{
        width: 19px;
    margin-top: 5px;
    }
    .nav-left1{
        display: block;
    
    }
    .nav1{
        display: none;
    }
    nav a{
        position: absolute;
        top: -21px;
        left: -26px;
     }
 
    #nav-next{
        display: inline-block;
        margin: 21px auto 0 auto;

    }   
    .nav-next2 p{
        font-size: 16px;
    padding-left: 28px;
    margin-top: -20px;
    margin-bottom: 30px;
    }
    .nav-nextbtn a{
        padding: 12px 15px;  
        margin: 0px 0px;        
        font-size: 16px;
    }
    #price{
        padding: 48px 24px;
        
    }
    .price1 h1{
        font-size: 35px;
    }
    .price1 p{
        font-size: 15px;
    }
    .price1-sub{
        display: inline-block;
    }
    
    .price2{
        display: block;
        padding: 30px 0px;
    }
    .price2-new{
        width: 86%;  
         border-radius: 10px;
         margin-bottom: 35px;
    }
    .price2 div p{
        margin: 0 0 4px;
    }
    .nav-next2 img{
        object-fit: cover;
        position:inherit;
        width: 45%;
        top: 180px;
        right: 0;
    }
    
}
